body {
    background:url("https://sociorocketnewsen.files.wordpress.com/2015/07/tumblr_nsbsojabhk1qze3hdo1_r2_500.gif?w=580");
    background-size:100% 100%;
    height:100vh;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

div {
    height: 150px;
    width: 150px;
    border: 5px solid;
    border-radius: 100%;
    
}

div#fancy {
    background: blue;
    border: 5px dashed black;
    color: white;
    position: absolute;
    top: 35%;
    left: 45%;

    display: flex;
    justify-content: center;
    align-items: center;

}

div#fancy:hover{
    font-weight:bold;
    box-shadow: 0 0 5px white;

}


